<div class="d-flex align-items-center bg-auth border-top border-top-2 border-primary main-wrapper">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

            <!-- Image -->
            <div class="text-center">
                <img src="assets/img/illustrations/logo-rckb.svg" alt="..." class="img-fluid">
            </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
            
            <!-- Heading -->
            <h1 class="display-4 text-center mb-3">
                Bem Vindo
            </h1>
            
            <!-- Subheading -->
            <p class="text-muted text-center mb-5">
                Rockambole Admin Dash :: Um sistema FinCollab!
            </p>
            
            <!-- Form -->
            <form #form="ngForm" [formGroup]="loginForm" (submit)="login()">

                <!-- Email address -->
                <div class="form-group">

                <!-- Label -->
                <label>Usuário</label>

                <!-- Input -->
                <input #usernameInput formControlName="username" type="email" class="form-control" [ngClass]="{'invalidated': userInvalid}" placeholder="seu-email@dominio.com" (focusout)="usernameTouched()">
                <fc-validation-message 
                    *ngIf="loginForm.get('username').errors?.required && ( form.submitted || loginForm.get('username').touched )"
                    message="O Usuário é requerido">
                </fc-validation-message>

                </div>

                <!-- Password -->
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            
                        <!-- Label -->
                        <label>Senha</label>

                        </div>
                        <div class="col-auto">
                        
                        <!-- Help text -->
                        <a [routerLink]="['forgot']" class="form-text small text-muted">
                            Esqueceu sua senha?
                        </a>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Input -->
                    <input formControlName="password" type="password" class="form-control form-control-appended" [ngClass]="{'invalidated': passInvalid}" placeholder="Digite sua senha" (focusout)="passwordTouched()">
                    <fc-validation-message 
                        *ngIf="loginForm.get('password').errors?.required && ( form.submitted || loginForm.get('password').touched )"
                        message="A senha é requerida">
                    </fc-validation-message>
                </div>

                <!-- Submit -->
                <button class="btn btn-lg btn-block btn-primary mb-3">
                Log in
                </button>
                
            </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div>