<nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md navbar-dark">
  <div class="container-fluid">

    <fc-button-toggle (click)="toggleNavbar()"></fc-button-toggle>

    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/img/logo-icon-rckb.svg" class="navbar-brand-img mx-auto" alt="...">
    </a>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isShown}">

      <!-- Divider -->
      <hr class="navbar-divider d-none d-md-block mt-0 mb-3">

      <fc-navigation>
        <fc-nav-item navItem="Usuários" icon="users" (click)="usuarios.toggle()">
          <fc-dropdown-menu #usuarios>
            <fc-dropdown-header dropdownHeader="Usuários"></fc-dropdown-header>
            <fc-dropdown-item dropdownItem="Todos os usuários"></fc-dropdown-item>
            <fc-dropdown-item dropdownItem="Criar Usuário"></fc-dropdown-item>
          </fc-dropdown-menu>
        </fc-nav-item>
      </fc-navigation>

      <!-- Divider -->
      <hr class="navbar-divider d-none d-md-block mt-0 mb-3">

      <fc-navigation>
        <fc-nav-item navItem="Projetos" icon="pen-tool" (click)="projetos.toggle()">
          <fc-dropdown-menu #projetos>
            <fc-dropdown-header dropdownHeader="Projetos"></fc-dropdown-header>
            <fc-dropdown-item dropdownItem="Todos os projetos" target="/projects"></fc-dropdown-item>
            <fc-dropdown-item dropdownItem="Criar projeto"></fc-dropdown-item>
            <fc-dropdown-item dropdownItem="Relatórios"></fc-dropdown-item>
          </fc-dropdown-menu>
        </fc-nav-item>
      </fc-navigation>

    </div>

  </div>
</nav>