<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex">
    <div class="container-fluid ml-md-6 ml-lg-6" *ngIf="(user$ | async) as user">
        Olá, {{ user.profile.name }}
    </div>
    <div class="container-fluid justify-content-end">
        <fc-profile-menu>
            <fc-profile-menu-avatar 
                avatarSrc="assets/img/avatars/profiles/avatar-1.jpg" 
                (mouseover)="menuItems.toggle()">
            </fc-profile-menu-avatar>
            <fc-profile-menu-items #menuItems>
                <fc-menu-item menuItem="Meu Perfil" target=""></fc-menu-item>
                <fc-menu-item menuItem="Configurações" target=""></fc-menu-item>
                <hr class="dropdown-divider">
                <fc-menu-item menuItem="Logout" target="" (click)="logout()"></fc-menu-item>
            </fc-profile-menu-items>
        </fc-profile-menu>     
    </div>
</nav>
